#container {
    flex: 1;
    background-color: #EEEEEE;
    color: #FFFFFF;
    height: 100vh;
    width: 100%;
    text-align:center;
}

.grid {
    margin: 0px;
}

.row {
    margin: 5px;
}

h1 {
    color: #000000;
}